<div class="background">

  <div class="event-container">
    <div class="container d-flex justify-content-between text-white">
      <h5>
        {{ currentTime | date:'h:mm a'}}
      </h5>
      <h2 class="d-inline-block text-truncate">
        <strong>Upcoming Events</strong>
      </h2>
    </div>


    <div class="event-channel-container">
      <div class="loading" *ngIf="isLoading">
        <div class="spinner-border text-primary" role="status">
        </div>
      </div>


      <div class="channels-list">
        <div class="channel" [ngClass]="{'active': channelId?.id === activeChannelId}"
          (click)="getChannelEvents(channelId?.id)" *ngFor="let channelId of channelIds;">
          {{ channelId?.name | titlecase}}
        </div>
      </div>
      

      <div class="events-list">

        <div *ngIf="filteredEvents.length < 1 && !isLoading" class="no-events">
          <i class="bi bi-calendar2-x"></i>
          <p>Select a Channel</p>
        </div>

        <div class="events animate__animated animate__fadeIn" *ngFor="let event of sortByStartTime(filteredEvents);">
          <h4>
            {{ event?.name }}
          </h4>
          <div class="timing">
            <p class="start">
              <span><strong>Start</strong></span> <br>
              {{ event?.start | date:'MMM d, y, h:mm a' }}
            </p>
            <p>TO</p>
            <p class="end">
              <strong>End</strong> <br>
              {{ event?.end | date:'MMM d, y, h:mm a'}}
            </p>
          </div>

          <p>
            <span class="tag" *ngFor="let tag of event?.tags">{{ tag | titlecase}}</span>
          </p>
        </div>
      </div>

    </div>

  </div>
</div>